@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  box-sizing: border-box;
}

body {
  background: #F4FEF8;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: #1A2232;
}

h3 {
  text-align: center;
  color: #1A2232;
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

@media (max-width: 1100px) {
    .main {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 760px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 500px) {
    .main {
      grid-template-columns: 1fr;
    }
  }