<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/index.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escola</title>
</head>
<body>
 
    <div class="container" ng-controller="AlunoController">
        <div class="border centralizar">
            <h5>Cadastro de Aluno</h5>
            <form class="col-6">
                <label for="nome">Nome:</label>
                <input class="form-control" type="text" name="nome" id="nome" ng-model="nome" >
                <label for="sobrenome">Sobrenome:</label>
                <input class="form-control" type="text" name="sobrenome" id="sobrenome" ng-model="sobrenome">
                <label for="idade">Idade:</label>
                <input class="form-control" type="text" name="idade" id="idade" ng-model="idade">
                <label for="cpf">CPF:</label>
                <input class="form-control" type="text" name="cpf" id="cpf" ng-model="cpf">
                <label for="curso">Curso:</label>
                <select class="form-control" id="curso" name="curso" ng-model="curso">
                    <option value="C">Engenharia da Computação</option>
                    <option value="F">Fisica</option>
                    <option value="Q">Quimica</option>            
                    <option value="E">Educação Física</option>
                </select>
                <div class="pt-2">
                    <button class="btn btn-outline-primary centralizar" ng-click="adicionar()" >Salvar</button>
                </div>
            </form>            

        </div>
        <div class="tabela pt-5">
                <h3 align="center">Alunos Cadastrados</h5>
                <table class="table table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Nome</th>
                            <th>Idade</th>
                            <th>CPF</th>
                            <th>Curso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aluno in alunos">
                            <td> {{aluno.nome + aluno.sobrenome}} </td>
                            <td> {{aluno.idade}} </td>
                            <td> {{aluno.cpf}} </td>
                            <td> {{aluno.curso}} </td>
                            <td>  </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
    <script src="/js/app.module.js"></script>    
    <script src="/js/aluno.controller.js"></script>
    <script src="/js/aluno.factory.js"></script>
</body>
</html>