.expression-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
  }
  
  .expression-box.active {
    box-shadow: 0 0 10px 5px #11AE68;
  }
  
  .expression-box img {
    width: 100%;
    object-fit: cover;
    height: 200px;
  }
  
  .expression-box .info {
    background-color: #11AE68;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    text-align: center;
    height: 100%;
  }