.btn {
    cursor: pointer;
    background-color: #11AE68;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 8px;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn:focus,
  select:focus {
    outline: 0;
  }
  
  .btn-toggle {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  select {
    background-color: #D8F6E7;
    border: 0;
    color: #1A2232;
    font-size: 12px;
    height: 30px;
    margin: 0 auto 20px;
    display: block;
    min-width: 260px;
    max-width: 30%;
  }