body{
    background-color:rgb(131, 248, 146);
}

.centralizar{
    margin-left: 30%;
}

.container{
    background-color: rgb(247, 175, 82);
}

button{
    width: 100px;
}

.tabela{
    margin-left: 0%;
} 